body{
	font-family: "Roboto", Helvetica, Arial, sans-serif !important;
	font-size:15px;
	overflow-x:hidden;
	background-color:#fff;
	color:rgba(0,0,0,0.71);
	/*background-image:url('../img/bg.jpg');
	*/background-size:cover;
	background-attachment:fixed;
}

/*CUSTOM CLASS*/
.justify{
	text-align:justify;
}
.wrap{
	max-width:1180px;
	margin:0 auto;
}
.zztop{
	z-index:100;
}

/*CUSTOM ID*/
#debug{
	width:100%;
	right:98%;
	bottom:0;
	position:fixed;
	transition:.1s;
}
#debug.show{
	right:0;
	transition:.2s;
}
#loginform .input-field label {
	color: #fff
}
#logslabel:after,#maillabel:after{
	width:100%!important;
	height:100%!important;
	opacity:0!important;
}
#logslabel.errorlogs.logspseudo:after{
	content:"Pseudo non valide"!important;
	opacity:1!important;
}
#logslabel.errorlogs.logsmail:after{
	opacity:1!important;
	content:"Mail non valide"!important;
}
#logslabel.successlogs.logspseudo:after{
	content:"Pseudo valide"!important;
	opacity:1!important;
}
#logslabel.successlogs.logsmail:after{
	opacity:1!important;
	content:"Mail valide"!important;
}
#maillabel.mailexiste:after{
	opacity:1!important;
	content:"Déjà utilisé"!important;
}

